/* color_primary: #00c040e1;
color_primary_light: #7ed56f;
color_primary_dart: #28b485; */
$color_primary: #00c040e1;
$color_primary_light: #7ed56f;
$color_primary_dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;