*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1 rem is
  font-size: 62.5%; // we want  1rem to be 10px => 10px/16px = 0.625 * 100 = 62.5%

  @include respond(tabland) {
    // width =< 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }
  @include respond(tabport) {
    // width =< 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }
  @include respond(phone) {
    // width =< 600?
    font-size: 36.25%; // 1rem = 9px, 9/16 = 56.25%
  }
  @include respond(bigdesktop) {
    // width >= 1800?
    font-size: 75%; // 1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tabport) {
    padding: 0;
  }
}
