.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right top,
      rgba($color_primary_light, 0.8),
      rgba($color_primary_dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% -10%, 100% 75vh, 0 100%);
}
